In [1]:
#TOPIC : TUPLES
# Note: Tuple,string are immutable and lists are mutable
subj =("English","Urdr","Mathematics","Islamyat","Pak-study")
print(subj)
print(type(subj)) # type
print(len(subj))  # len
print(subj[4])    # index

('English', 'Urdr', 'Mathematics', 'Islamyat', 'Pak-study')
<class 'tuple'>
5
Pak-study

In [2]:
# At the end single value in tuple must put comma(,) , otherwise it will be an integer
a = (4,)
print(a)
print(type(a))

(4,)
<class 'tuple'>

In [3]:
# similarly
b = ("Hello Word!",)
print(b)
print(type(b))

('Hello Word!',)
<class 'tuple'>

In [4]:

# Slicing concept in Tuple
slice = (22,33,44,55,66,77,88,)
print("slice:",slice)
print("slice:",slice[0:6])
print("slice:",slice[3:6])

slice: (22, 33, 44, 55, 66, 77, 88)
slice: (22, 33, 44, 55, 66, 77)
slice: (55, 66, 77)

In [6]:
# Index Method
data = (123,321,456,765,765,676,334,123,330)
print(data.index(321))

1

In [5]:

# count Method
data2 = (111,222,333,444,555,111,666,)
print(data2.count(111))

2